<div class="social-links">
    {% if site.facebook %}
        <a class="link" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer">
            Facebook
        </a>
    {% endif %}

    {% if site.twitter %}
        <a class="link" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer">
            Twitter
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" href="https://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer">
            Instagram
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer">
            LinkedIn
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer">
            GitHub
        </a>
    {% endif %}

    {% if site.scholar %}
        <a class="link" href="https://scholar.google.com/citations?user={{ site.scholar }}" target="_blank" rel="noopener noreferrer">
            Scholar
        </a>
    {% endif %}

    {% if site.researchgate %}
        <a class="link" href="https://www.researchgate.net/profile/{{ site.researchgate }}" target="_blank" rel="noopener noreferrer">
            ResearchGate
        </a>
    {% endif %}

    {% if site.orcid %}
        <a class="link" href="https://orcid.org/{{ site.orcid }}" target="_blank" rel="noopener noreferrer">
            ORCID
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" href="mailto:{{ site.email }}">
            Email
        </a>
    {% endif %}
</div>
