$fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #334155
$beta: #172554
$gama: #64748b
$delta: #2563eb
$fuchsia: #c026d3
$epsilon: #dbeafe
$omega: #ffffff
$zeta: #1e1b4b
$kappa: #fae8ff

$thin-font: 300

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
