$fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #475569
$beta: #0f172a
$gama: #64748b
$delta: #0f766e
$epsilon: #e2e8f0
$omega: #fcfcfd
$zeta: #0f172a
$kappa: #ccfbf1

$thin-font: 300

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
